---
---

#pitch,
#download-buttons {
  margin-top: 30px;
}

#page-header,
#screenshot-container {
  padding-bottom: 0;
}

#screenshot-container {
  margin-top: 35px;
}

#screenshot {
  margin-bottom: -2px;
}
